#title {
  color: #080cdf;
}
.my-info{
	height: 150px;
}
body {
  font-family: "bold";
	background-image: url("images/9.jpg");
 background-size: cover;
 background-repeat: no-repeat;
}

.container-fluid {
  padding: 1% 15% 0%;
  color: #080cdf;
}

.name{
font-size: 1.3rem;
font-weight: 900;
line-height: 1;
color: rgb(24, 226, 84);
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
  color: #080cdf;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: #080cdf;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

.user-pay-button{
  border-radius: 0.8rem;
  border-width: 2px;
  border-color: black;
  padding: 1rem 2rem;
  font-size: 140%;
  font-weight: bold;
  background-color: rgb(76, 71, 71);
    color: #f9f9fd!important;
  transition: 0.3s;
}
.user-trans-button{
  border-radius: 0.8rem;
  border-width: 2px;
  border-color: black;
  padding: 1rem 2rem;
  font-size: 140%;
  font-weight: bold;
  background-color: rgb(76, 71, 71);
    color: #f9f9fd!important;
  transition: 0.3s;

}

/* Features Section */
#features {
  padding: 7% 15%;
  font-family: "Montserrat-bold";
  font-size: 1.5rem;
  background-color: transparent;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5% 0;
}

.icon {
  color: transparent;
  margin-bottom: 1rem;
}

.icon:hover {
  color: transparent;
}

/* CTA Section */
#cta {
  text-align: center;
  background-color: transparent;
  font-family: "Montserrat";
  padding: 7% 15%;
}

.cta-heading {
  font-size: 3.5rem;
  color: rgb(77, 18, 238);
  font-weight: 900;
  line-height: 1.5;
}

/*For table of Users*/
tbody {
  background-color: transparent;
  border: black;
  font-weight: 500;
  border-width: 3px;
  border-radius: 5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: bold;
}

thead th, tfoot th, tfoot td {
  background: linear-gradient(to up, rgba(0,0,0,0.1), rgba(0,0,0,0.5));}

table {
  border: black;
  border-width: 3px;
  border-radius: 5%;
}


/*some new css*/
/*
.btn-info{
    padding: 0 1.2rem;
    background-color: rgb(78, 153, 223)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(67, 83, 230)!important;
}
*/
